<div class="row">
  <div class="col-md-4">
    <%= link_to category_posts_path(@category), class: 'btn btn-primary btn-lg' do %>
      <i class="fa fa-plus-square"></i> <span>Adoptar</span>
    <% end %>  
  </div> 
  <div class="col-md-4"> 
    <%= image_tag("cabin.png", class: "img-responsive")%>
  </div>
  
  <div class="col-md-4"> 
    <%= link_to new_category_post_path(@category), class: 'btn btn-primary btn-lg' do %>
      <i class="fa fa-plus-square"></i> <span>Dar en Adopción</span>
    <% end %>  
  </div>
</div> 





  