<!-- Header -->
<header>
  <%= image_tag("logo.png", class: "img-responsive", size: "500x350",) %>
  <div class="container">
    <div class="row">
     
    </div>
  </div>
</header>
<%= render('common/sections', categories: @categories) %>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

