<!-- Header -->
 <header>
   <div class="container">
     <div class="row">
       <div class="col-lg-12">
         <%= link_to image_tag("Faunarea_landscape.jpg", class: "img-responsive"), "#categories" %>
         <div class="intro-text">
                       
         </div>
       </div>
     </div>
    </div>
  </header>

<%= render('common/sections', categories: @categories) %>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<%= render 'common/back_to_top' %>

