<div class="col-xs-6 col-md-3">
  <div class="thumbnail">	
    <%= link_to category_posts_path(@category, :pet => params[:pet], :all => true), class: 'btn btn-primary btn-lg' do %>
      <i class="fa fa-plus-square"></i> <span>Quiero Adoptar</span>
    <% end %>    
  </div> 
</div> 
     
<div class="col-xs-6 col-md-3"> 
  <div class="thumbnail">
    IMAGE PETS
  </div> 
</div>

<div class="col-xs-6 col-md-3"> 
  <div class="thumbnail">
    <%= link_to new_category_post_path(@category, :pet => params[:pet]), class: 'btn btn-primary btn-lg' do %>
      <i class="fa fa-plus-square"></i> <span>Publicar Adopcion</span>
    <% end %> 
  </div>
</div>