<% @posts.each do |post| %>
  <div class="well container" style="width: 450px;">
    <h3><%= link_to post.title, '#' %></h3>
    <div class="snippet">
      <%= link_to  class="pull-left text-success" href="venue.php" do>
        <%= image_tag post.image, size: '140', class: 'img-circle'%>
      <%end%>
              
    </div>
    <p><%= truncate(strip_tags(post.body), length: 600) %></p>
  </div>
<%end%>