
<div>
  <h2><%= link_to post.title, category_post_path(@category, post) %></h2>
 
  <small><em><%= image_tag(post.image, width: 114, height: 160)%></em></small>
 
  <p><%= truncate(strip_tags(post.body)) %></p>
</div>