<section class ="success col-md-20" id="categories">
<% @posts.each_with_index do |post, index|%>
    <div class="col-sm-6">
      <div class="thumbnail">
        <%= image_tag post.image, size: '200x200', class: 'img-responsive' %>
        <div class="caption">
          <h4>
            <%= link_to  post.title, category_post_path(@category, post), :title => "Ver Más"%>
          </h4>
          
        </div>
      </div>
    </div>

<% end %>
</section>