<div id="body">
  <div id="content">
    
    <div class="search">
      
    </div> 
   
    <% if params[:all] %>
     <div class="content"> 
        <table id="posts">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="page">
    <%= render @posts %>
  </tbody>
</table>
        <%= paginate @posts %> 
        
    <% else %>
      <div class="row">  
        <div class="content">
          <ul>
            <%= render('access_links') %> 
          </ul>  
        </div>
      </div>
    <% end %>
    
    
  </div>

</div> 





  