<section class ="success col-md-20" id="categories">
  <div class="content">
    <div class="row">
      <div class="">
        <h2>Listado de <%=@category.name%></h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row text-center" style="border: 1px solid #ddd">
      <div class="col-md-3"></div>
      <div class="col-md-6 panel-group">
        <%= render("/categories/#{@category.name_as_folder}/filters") %>
      </div>
      <div class="col-md-3"></div>

    </div>  
    
    <div id="my-posts">
      
    </div>  
  </div>  

  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <%= render('nav/footer') %> 
</nav>  
</section>  
