<div id="body">
  
  <div id="content">
    <div class="search">
      <input type="text" name="s" value="Buscar">
      <button>&nbsp;</button>
      <label for="articles">
        <input type="radio" id="articles">
        Titulo</label>
      <label for="products">
        <input type="radio" id="products" checked>
        Contenido</label>
    </div> 
  
  <%= link_to new_category_post_path(@category), class: 'btn btn-primary navbar-btn pull-left' do %>
            <i class="fa fa-plus-square"></i> <span>Agregar Publicación</span>
          <% end %>
  </div>

  <%= render("categories/#{@name_category}/show", category: @category) %>
  

</div>  