<div id="body">
  
  <div id="content">
    <div class="search">
      <input type="text" name="s" value="Buscar">
      <button>&nbsp;</button>
      <label for="articles">
        <input type="radio" id="articles">
        Titulo</label>
      <label for="products">
        <input type="radio" id="products" checked>
        Contenido</label>
    </div> 
  
    <%= render("categories/#{@name_category}/show", category: @category) %>
</div>  