<a href="<%="##{@category.name_as_folder}Modal"%>" class="btn btn-warning btn-lg pull-right" data-toggle="modal">
  <span class="glyphicon glyphicon-hand-left"> 
    Volver
  </span>
</a>
<%= render('posts/modals', categories: @categories) %>
