<div class="container-fluid">   
  <div class="btn-group pull-right">
    <a href="<%="##{@category.name_as_folder}Modal"%>" class="btn btn-warning navbar-btn btn-lg" data-toggle="modal">
      <span class="glyphicon glyphicon-hand-left"> 
        Volver
      </span>
    </a>
  </div>
</div>

<%= render('posts/modals', categories: @categories) %>
