<% if !current_user.nil? %>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="fa fa-user fa-fw"></i> <%=current_user.name %> <i class="fa fa-caret-down"></i>
  </a>

  <ul class="dropdown-menu dropdown-user">
    <li>
      <%= link_to destroy_user_session_path, method: 'delete' do %>
        <i class="fa fa-sign-out fa-fw"></i> Salir
      <% end %>
    </li>
  </ul>
</li>
<% else %>
  <li>
    <%= link_to new_user_session_path do %>
      <i class="fa fa-sign-out fa-fw"></i> Ingresar
    <% end %>
  </li>
<% end %>


  